/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */
.navbar-brand img {
    display: inline;
    width: 100px;
}

ol, ul, dl {
  margin-left: 2rem;
  list-style: square;
}
